<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <script type="text/javascript" src="http://js.leapmotion.com/0.2.0/leap.min.js"></script>
    <script type="text/javascript" src="/static/js/LeapTrainer.js"></script>
    <script type="text/javascript" src="/static/js/Main.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="wrap">
    <div class="half">
        <div id="hands">2</div>
        <div id="description-hands">hands</div>
    </div>
    <div class="half">
        <div id="fingers">10</div>
        <div id="description-fingers">fingers</div>
    </div>
    <div id="current-val"></div>
</div>


</body>
</html>